server:
  port: 8085

spring:
  application:
    name: ms-exportacion
  cloud:
    compatibility-verifier:
      enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5436/db_exportacion
    username: clinica
    password: clinica_dev
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration
  rabbitmq:
    host: localhost
    port: 5672
    username: clinica
    password: clinica_dev
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    check-template-location: true

jwt:
  secret: ${JWT_SECRET:este-es-un-secreto-de-desarrollo-que-debe-tener-al-menos-32-bytes-de-largo}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{traceId},%X{spanId}]"

resilience4j:
  circuitbreaker:
    instances:
      historiaClinica:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 3
  timelimiter:
    instances:
      historiaClinica:
        timeout-duration: 5s

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

exportacion:
  historia-clinica-url: http://localhost:8082
  pdf:
    output-dir: ${java.io.tmpdir}/clinica-exports
